{% extends 'base.html.twig' %}
{% block title %} Page d'accueil {% endblock %}
{% block body %}
    <div class="body-wrapper">
        <h1>Bienvenue {{ current_user.firstName }} !</h1>
        <p>Cette page est vraiment très intéressante n'est-ce pas ?</p>
    </div>

{% endblock %}