{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans ce premier controller !{% endblock %}

{% block body %}

<div class="body-wrapper">
    <h1>Bienvenue dans mon projet claqué ! ✅</h1>

    Ce gentil message a été généré par :
    <ul>
        <li>Le controller : {{ controller_name }}</li>
        <li>Ton controller préféré : <code><a href="{{ '/Users/arthur/Dev/PhpstormProjects/symfony/HelloWorld/src/Controller/ProjetClaqueController.php'|file_link(0) }}">src/Controller/ProjetClaqueController.php</a></code></li>
        <li>Le template : <code><a href="{{ '/Users/arthur/Dev/PhpstormProjects/symfony/HelloWorld/templates/projet_claque/index.html.twig'|file_link(0) }}">templates/projet_claque/index.html.twig</a></code></li>
    </ul>



</div>
{% endblock %}
