{% extends 'base.html.twig' %}
{% block titile %}Liste des utilisateurs{% endblock %}
{% block body %}
    <div class="body-wrapper">
        <h1>Utilisateurs</h1>
        <p>Cette page est encore très intéressante n'est-ce pas ?</p>
        <p>Voilà la liste des utilisateurs de ce site</p>
        <ul>
            {% for user in users %}
                <li>{{ user.firstName }} {{ user.lastName }} - <a href="http://{{ user.username }}.perso.centrale-marseille.fr/">Site Perso</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
